@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;1,500&display=swap');

.App {
  text-align: center;
}

* {
  font-family: 'Lato', sans-serif;
  font-weight: 600px;
  font-weight: bold;
}

.navbar {
  display: grid;
  height: 200px;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.navbar .middle {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  flex: 50%;
  padding-left: 50px;
}

#logo {
  max-width: 7%;
}

#title {
  max-width: 60%;
}

.left .right {
  position: absolute;
  padding-top: 10%;
  flex: 50%;
}

.left {
  padding-left: 10%;
}
.left div{
  display:inline;
}
.right div {
  display: inline;
}
.right {
  padding-right: 10%;
}

.button:hover { 
  background-color: #EFE4D4;
  padding: 10px 15px;
  border-radius: 5px;
} 


#logout {
  max-width: 100px;
  border-radius: 10px;
  /* background-color: #EFE4d4; */
  border: 0px;
}
#logout:hover{
  background-color: #EFE4D4;
  padding: 5px 10px;
  border-radius: 5px;
}

