@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;1,500&display=swap');

.App {
  text-align: center;
}

* {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  padding: 0 10%;
}

.navbar .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
}

#logo {
  max-width: 7%;
}

#title {
  max-width: 60%;
}

.left, .right {
  display: flex;
  align-items: center;
}

.left {
  margin-right: auto;
}

.button:hover {
  background-color: #EFE4D4;
  padding: 10px 15px;
  border-radius: 5px;
}

#logout {
  max-width: 100px;
  border-radius: 10px;
  /* background-color: #EFE4d4; */
  border: 0px;
}

#logout:hover {
  background-color: #EFE4D4;
  padding: 5px 10px;
  border-radius: 5px;
}
