.fieldset fieldset{
    display: grid;
    grid-template-columns: .5fr 4fr 2fr 4fr .5fr;
    row-gap: 15px;
    width: 500px;
    margin-top: 15px;
    background-color: #587D6B;
    border: 0px;
    border-radius: 15px;
}
#first_name{
    grid-column: 2/span 1;
    margin-top: 15px;
}
#last_name{
    grid-column: 4/span 1;
    margin-top: 15px;
}
#email, #reason, #message{
    grid-column: 2/span 3;
}
#submit{
    grid-column: 3/span 1;
}
.form{
    display:flex;
    justify-content: center;
    padding-inline-start: 0px;
}
.contact legend{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}
#first_name, #last_name, #email, #reason{
    height: 3.375rem;
    border-radius: 10px;
    /* border-color: white; */
    border: 0px;
}
#message{
    border-radius: 10px;
    border-color: #587D6B;
    min-height: 10.375rem;
    min-width: 450px;
    max-width: 450px;
    border: 0px;
    overflow: auto;
}

#submit{
    border-radius: 10px;
    height: 1.9rem;
    border-color: white;
    border: 0px;
    text-transform: capitalize;
}
#submit:hover{
   background-color: #e8ded1;
}
button{
    content: "SUBMIT";
}
/*  #last_name placeholder, #email placeholder, #reason placeholder, #message placeholder */