
.createPostPage {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.cpContainer {
    margin-top: 75px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    background-color: #587D6B;
    color: white;
    border-radius: 15px;
    padding: 50px;
    width: 50%;
    text-align: left;
}

.inputDetails {
    display: flex;
    flex-direction: row;
    margin-top: 10px; 
    border-radius: 15px;
}

.custom-select select {
    border-radius: 5px;
    padding: 5px;
}
.submit {
    display: flex;
    justify-content: center;
}
.submit button{
    margin-top: 25px;
    padding: 7px;
    border-radius: 5px;
    color: black;
    background-color: #d4ead1;
    
}

button {
    max-width: 200px;
    border-radius: 10px;
    background-color: white;
    border-radius: 25px;
    border:0px;
    
}

input[type=text]  {
    padding: 7px;
    max-width: 900px;
    border-radius: 5px;
    background-color: white;
    border:0px;

}


#createPostTitle {
    margin-bottom: 300px;
}

/* 


.inputDetails {
    display: block;
}

.inputFileDetails {
    display:block;
    padding-left: 70px; 

}

button {
    max-width: 100px;
    border-radius: 10px;
    background-color: white;
    border-color: white;
    border-radius: 15px;
    border:0px;
} */ 