.createPostPage {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.cpContainer {
    display: grid;
    background-color: #587D6B;
    color: white;
    font-size: large;
    border-radius: 20px;
    margin-top: 50px;
    grid-gap: 40px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

#createPostTitle {
    display: block;
}


.inputDetails {
    display: block;
}

.inputFileDetails {
    display:block;
    padding-left: 70px; 

}

button {
    max-width: 100px;
    border-radius: 10px;
    background-color: white;
    border-color: white;
    border-radius: 15px;
    border:0px;
}