
body {
  background-image: url("../assets/background.png");
  background-size: contain;
}

.displayPage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  /* margin-right: 20px; */
}

.profileInfo {
  margin-top: 20px;
  /* display: block; */
}

.profileInfo h2 {

  color: #333;
  font-size: 2.5em;
  margin-bottom: 10px;

  
}
.post {
  width: 400px;
  height: 550px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  background-color:  #587D6B;
  border-radius: 10px;
  margin-right: 30px;
  display: grid;
}

/* Post image */

.post-image-container{
  width: 100%;
  height: 250px; /* Adjust as needed */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.post-image {
  height:90%;
  width:auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .profile-image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  grid-column: 1;
} */

.footer {

  /* background-color: #e0e9e4;  */
  width: 400px;
  margin-top: -50px;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  /* display: block; */
  
}


.name{
  border-radius: 10px;
  /* margin-bottom: 50px !important; */
  padding-left:10px;
  padding-right:10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #D8E9D3; /* Soft green background */
  align-content: center;
  font-size: 1.1em;
  text-decoration: none;
  color: black;
  /* margin-left: 60px;
  margin-right: 60px; */
}

.name:hover {
  background-color: #C0C0C0; /* Darker gray */
}

.description {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.post-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  z-index: 1;
  font-size: 20px;
  font-weight: bold;
}

.delete button{
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 7px;
  background-color: #E0E0E0; /* Light gray */
}

.delete button:hover{
  background-color: #C0C0C0; /* Darker gray */
}