@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;1,500&display=swap');
.about {
    display: grid;
    margin-top: 70px;
    background-color: #587D6B;
    color: white;
    padding: 15px;
    border-radius: 20px;
}

.about-img {
    margin-top: 250px;
    width: 10%;
}
.info {
    margin-top: 160px;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 2;
    background-color: white;
    color: #587D6B;
    /* border: solid #587D6B 5px; */
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}
.header {
    font-weight: 500px;
    text-align: left;
    margin-left: 120px;
    margin-top: 100px;
}
.imageBox {
<<<<<<< HEAD
    margin-left: 220px;
    margin-right: 20px;
=======
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 40px;
    margin-left: auto;
    margin-right: auto;
>>>>>>> 28110512233865b036bebcfb0b92dedc627778f4
    margin-top: 80px;
    margin-bottom: 20px;
    width: 70%;
    height: 50%;
    background-color: #587D6B;
    padding: 20px;
    border-radius: 15px;
    justify-content: center;
}

.profile {
    max-width: 30%;
    background-color: #EFE4D4;
}

.profileCard {
    background-color: #EFE4D4;
    border-radius: 10px;
}