@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;1,500&display=swap');
.body {
    background-image: url("../assets/background.png");
    background-size: contain;
}


.about-container {
    display: block;
    width: 100%;
    padding: 10px;
    padding-top: 5%;
}

.button-container {
    display: block;
    width: 100%;
    padding-top: 10%;
}

.startedBtn {
    display: block;
    margin: 0 auto;
    background-color: white;
    color: #587D6B;
    font-size: larger;
    white-space: nowrap;
    min-width: 200px;
    padding: 10px;
    width: fit-content;
    text-decoration: none;
    outline: none;
}

.header-container {
    display: block;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 1px;
}

.header {
    display: block;
    font-weight: 500px;
    text-align: left;
    margin-left: 120px;
    width: 100%;
}

@media only screen and (max-width: 1115px) {
.button-container {
    padding-top: 4%;
}
.header {
    text-align: center;
    margin-left: 0px;
}

}
.info-container {
    display: block;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 1px;  
}

.info {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 2;
    background-color: #587D6B;
    color: white;
    font-size: 20px;
    /* border: solid #587D6B 5px; */
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 60%;
}
.imageBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 70%;
    height: 50%;
    padding: 20px;
    border-radius: 15px;
    justify-content: center;
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    object-fit: cover;
}
.profile:hover {
    border: solid #587D6B 5px;
}
.profileCard {
    border-radius: 10px;
}

@media only screen and (max-width: 1144px) {
.header {
    text-align: center;
    margin-left: 0px;
}
.profileCard {
    display: block;
}
.imageBox {
    margin-top: 3%;
    grid-template-columns: repeat(3, 1fr);;
    grid-template-rows: repeat(2, 1fr);

}
}

@media only screen and (max-width: 500px) {
.imageBox {
    margin-top: 3%;
    grid-template-columns: repeat(2, 1fr);;
    grid-template-rows: repeat(3, 1fr);

}
}