@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;1,500&display=swap');
.body {
    background-color: #D8E9D3;
}

.about-container {
    display: block;
    width: 100%;
    padding: 10px;
    padding-top: 5%;
}

.button-container {
    display: block;
    width: 100%;
    padding-top: 10%;
}

.startedBtn {
    display: block;
    margin: 0 auto;
    background-color: white;
    color: #587D6B;
    font-size: larger;
    white-space: nowrap;
    min-width: 200px;
    padding: 10px;
    width: fit-content;
}

.header-container {
    display: block;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 1px;
}

.header {
    display: block;
    font-weight: 500px;
    text-align: left;
    margin-left: 120px;
    width: 100%;
}

@media only screen and (max-width: 1115px) {
.header {
    text-align: center;
    margin-left: 0px;
}
}
.info-container {
    display: block;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 1px;  
}

.info {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 2;
    background-color: #587D6B;
    color: white;
    font-size: 20px;
    /* border: solid #587D6B 5px; */
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.imageBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 70%;
    height: 50%;
    background-color: #587D6B;
    padding: 20px;
    border-radius: 15px;
    justify-content: center;
}

.profile {
    max-width: 90%;
    background-color: #ffffff;
}

.profileCard {
    background-color: #ffffff;
    border-radius: 10px;
}