@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Lato:wght@300&family=Source+Serif+Pro&display=swap");
.App {
  text-align: center;
}

.body {
  height: 100%;
  background-color: #d8e9d3;
  padding-bottom: 800px;
}


.text {
  padding-top: 5%;
  color: black;
  text-align: center;
}


.button-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  font-size: 25px;
}
.login-with-google-btn {
  height: 100%;
  background-color: white;
  padding:10px;
  color: #587d6b;
}

.login-with-google-btn:hover {
  color: #587d6b;
  background-color: white;
}
