@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Lato:wght@300&family=Source+Serif+Pro&display=swap');
.App {
  text-align: center;
}
.fullPage {
  background-image: url('../assets/login.png');
}
.loginPage {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 30%;
    background-color: #587D6B;
    padding: 70px;
    border-radius: 15px;
    color: white;
    
  }

.login-with-google-btn {
    border-radius: 15px;
    width: 30%;
    height: 100%;
    background-color: #E7F0E4;
    color: #587D6B;
    padding-top: 5px;
    padding-bottom: 2px;
    justify-content: center;
    margin-left: 35%;
}

.login-with-google-btn:hover {
  color: #587D6B;
  background-color: white;
}


/* add a background image to the body */
/* .body {
  background-image: url('../assets/login.png');
} */