/* Custom CSS */
@import url(https://db.onlinewebfonts.com/c/ab89afb3d4431982e93f981d37ad50d0?family=CoconPro-Regular+Regular); 
.custom-navbar {
  background-color: black; /* Replace 'your-desired-color' with the color of your choice */
}
.dropdown-menu {
  background-color: #ffffff; /* Replace '#ffffff' with the color of your choice */
  opacity: 1;
}


.smaller-title {
    max-height: 40px;
    font-family: "CoconPro-Regular Regular";
    font-size: 30px;
    letter-spacing: 0.3ch;
    padding-left:5px; 
    color:rgb(7, 78, 15)
}
.ml-auto {
  margin-left: auto;
}


@media only screen and (max-width: 1215px) {
.smaller-title {
    max-height: 30px;
}
}