/* Custom CSS */
@import url(https://db.onlinewebfonts.com/c/ab89afb3d4431982e93f981d37ad50d0?family=CoconPro-Regular+Regular); 
.custom-navbar {
  background-color: black; /* Replace 'your-desired-color' with the color of your choice */
}
.dropdown-menu {
  background-color: #ffffff; /* Replace '#ffffff' with the color of your choice */
  opacity: 1;
}

.dropdown-menu {
  padding: 0;
  border-radius: 0.25rem;
  overflow: hidden;
  min-width: 0 !important;
  width: auto !important;
}

.dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  white-space: nowrap; /* keeps content in one line */
  width: auto;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa;
  color: #000;
  border-radius: 15px;
}


.smaller-title {
    max-height: 40px;
    font-family: "CoconPro-Regular Regular";
    font-size: 30px;
    letter-spacing: 0.3ch;
    padding-left:5px; 
    color:rgb(7, 78, 15)
}
.ml-auto {
  margin-left: auto;
}


@media only screen and (max-width: 1215px) {
.smaller-title {
    max-height: 30px;
}
}