.navbar {
  height: 100px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  margin-top: 0px;

}

.logoImg {
  margin-top: 40px;
  max-width: 70%;
}
  
.navbar .leftSide {
  display: flex;
  justify-content: left;
  align-items: space-evenly;
  align-items: center;
  flex: 50%;
  height: 100%;
  padding-left: 50px;
  gap: 70px; 
}

.navbar .rightSide {
  display: flex;
  justify-content: right;
  align-items: space-evenly;
  align-items: center;
  flex: 50%;
  height: 100%;
  padding-right: 50px; 
  gap: 70px;
}

.navButton:hover {
  background-color: #EFE4D4;
  border-radius: 10px;
  padding: 10px;
}

.middle {
  width:100%;
}

  
  .navbar .leftSide img {
    width: 70px;
  }
  
  
  .navbar a {
    color: black;
    text-decoration: none;
    margin: 20px;
  }
  
  .navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .navbar .rightSide svg {
    font-size: 40px;
  }
  
  .navbar #open {
    padding-left: 0px;
  }
  .navbar #open img {
    display: none;
  }
  
  .navbar #close img {
    display: inherit;
  }
  
  .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
    width: 70px;
    margin: 5px;
  }
  @media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }