.body {
    background-image: url("../assets/background.png");
    background-size: contain;
}

.profile-image {
    display: flex;
    margin-top: -350px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid #587D6B;
    object-fit: cover;
    object-position: center;
}